@model List<ServiceBusWeb.Models.QueueDetailViewModel>
@{
    var Model_ActiveList = Model.Where(x => x.ActiveMessageCount > 0).ToList();
    var Model_PasiveList = Model.Where(x => x.ActiveMessageCount == 0).ToList();
}


<div class="col-md-12">
    <div class="card card-outline-info">
        <a href="#colAct" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="colAct">
            <div class="card-header" style="background: #2f3d4a !important; border-color: #2f3d4a !important;">
                <h5 class="m-b-0 text-white">
                    Aktif Mesaj Olanlar
                </h5>
            </div>
        </a>
        <div class="collapse show" id="colAct">
            <div class="card-body row">
                <partial name="_QueueListByStatePartial" model="Model_ActiveList" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-12">
    <div class="card card-outline-inverse">
        <a href="#coPsv" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="coPsv">
            <div class="card-header" style="background: #2f3d4a !important; border-color: #2f3d4a !important;">
                <h5 class="m-b-0 text-white">
                    Aktif Mesaj Olmayanlar
                </h5>
            </div>
        </a>
        <div class="collapse show" id="coPsv">
            <div class="card-body row">
                <partial name="_QueueListByStatePartial" model="Model_PasiveList" />
            </div>
        </div>
    </div>
</div>
